# dataset
20news*
!20news*.tar.gz

# python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# office files
*.doc?
